* {
    box-sizing: border-box;
}
body {
    margin-top: 0;
    background-color: orange;
}
.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.pokemons__text-box {
    display: block;
}
.pokemons__text {
    margin: 0;
    margin-bottom: 20px;
    text-align: center;
    font-family: monospace;
    font-size: 30px;
    font-weight: bold;
}
.form {
    margin: 0 auto;
    margin-bottom: 30px;
}
.error-box {

    margin: o auto;
    display:none;
    padding: 20px 20px;
    align-items: center;
    justify-content: center;
    /* width: 300px;
    height: 200px; */
    background-color: red;
    text-align: center;
}
.error{
font-size: 30px;
    
}
.not{
    display:flex;
}
.search {
    max-width: 300px;
    width: 100%;
    padding: 10px 20px;
    border: 2px solid black;
    outline: none;
    border-radius: 20px;
    background-color: transparent;
    font-weight: 600;
}
.btn-search {
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    border: 2px solid black;
    background-color: rgb(100, 100, 223);
}

.list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 0;
    list-style: none;
}
.item {
    max-width: 350px;
    width: 100%;
    display: flex;
    /* margin: 0 auto; */
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    padding: 15px;
    background-color: rgb(1, 63, 38);
    border: 3px solid black;
    border-radius: 10px;
    transition: 3s ease;
}
.item:active {
    transform: rotateY(360deg);
    background-color: transparent;
    /* opacity: 0 ; */
}
.item:hover {
    -webkit-box-shadow: 8px 13px 65px 14px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 8px 13px 65px 14px rgba(0, 0, 0, 0.43);
    box-shadow: 8px 13px 65px 14px rgba(0, 0, 0, 0.43);
}
.image {
    display: block;
    margin: 0 auto;
}
.list-sec {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
    list-style: none;
}
.item-sec {
    max-width: 150px;
    width: 100%;
    /* margin: 0 auto; */
    text-align: start;
    text-align: center;
}
.item-sec-name {
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 5px;
    text-align: center;
    border: 2px solid black;
    border-radius: 25px;
}
.desc {
    margin: 0;
    margin-bottom: 23px;
    font-family: sans-serif;
    color: orange;
}
.item:active .desc {
    color: black;
}
.name {
    margin: 0;
    font-family: sans-serif;
    color: orange;
}
.item:active .name {
    color: black;
}

@media only screen and (min-width: 756px) {
    .form {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .pokemons__text {
        font-size: 100px;
    }
}
